[submodule "IBT_full_stack_development_course/IBT_full_stack_development_course/full-stack-software-engineering-feb-2025"]
	path = IBT_full_stack_development_course/IBT_full_stack_development_course/full-stack-software-engineering-feb-2025
	url = git@github.com:IBT-learning/full-stack-software-engineering-feb-2025.git
